
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px 20px; 
}

.logo {
    height: 50px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.btn-sec {
    background: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.main-banner {
    background-image: url('imagini/main-banner.png');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.text-box {
    width: 100%;           
    max-width: 1200px;    
    padding: 0 20px;       
    color: white;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 600px; 
    color: rgba(255, 255, 255, 0.74);
    font-family: Gelasio;
}


.btn-main {
    background-color: #ffffff;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block; 
}

.about-section {
    margin-top: 120px; 
    margin-bottom: 120px; 
}


.about-content {
    max-width: 1200px; 
    margin: 0 auto;    
    padding: 0 20px;   
    
    display: flex;     
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 40px;         
}


.about-text {
    width: 45%; 
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px; 
    line-height: 1.2;
}

.about-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}


.about-description {
    font-family: 'Gelasio', serif; 
    font-size: 16px;
    line-height: 1.5; 
    color: rgba(0, 0, 0, 0.83); 
    margin-bottom: 24px; 
    max-width: 100%; 
}


.about-image {
    width: 50%; 
}

.about-image img {
    width: 100%; 
    height: auto; 
    display: block;
    filter: sepia(0.2) grayscale(0.2); 
}

.gallery-section {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('imagini/room.jpg');
    background-size: cover;
    background-position: center;
    height: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-card {
    width: 684px;
    height: 441px;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.5); 
    z-index: 2; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.slides-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto; 
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 
}
.slides-container::-webkit-scrollbar { 
    display: none; 
}

.slide {
    flex: 0 0 100%; 
    scroll-snap-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slide img {
    width: 411px;
    height: 411px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.nav-arrow {
    text-decoration: none;
    font-size: 30px; 
    color: #5C5454;
    padding: 0 20px;
    transition: color 0.3s, transform 0.2s;
    user-select: none;
    font-family: Arial, sans-serif; 
    line-height: 1;
    display: inline-block;
}

.nav-arrow:hover {
    color: #000;
    transform: scale(1.2); 
}

.nav-arrow.disabled {
    color: #e0e0e0; 
    pointer-events: none;
}

.gallery-caption {
    position: absolute;
    bottom: 50px; 
    width: 100%;
    max-width: 1200px;
    background-color: rgba(154, 137, 130, 0.6); 
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.gallery-caption p {
    color: #fff;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    max-width: 800px;
    margin: 0 auto;
}

.events-section {
    position: relative;
    z-index: 10;
    background-color: #fff;
    padding-top: 100px; 
    padding-bottom: 80px;
    width: 100%;
}

.events-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px; 
    font-weight: 700;
    margin-bottom: 50px; 
    color: #000;
}

.events-gallery {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 40px;         
    margin-bottom: 60px;     
}

.event-img.small {
    width: 323px;
    height: 403px;
}

.event-img.large {
    width: 486px;
    height: 486px;
}

.events-btn-container {
    text-align: center;
}

.btn-events {
    background: transparent;
    border: 1px solid #000;
    padding: 14px 22px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
}


.contact-section {
    background-color: #fff;
}

.contact-content {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; 
    gap: 50px; 
}

.contact-left {
    width: 50%; 
    max-width: 500px; 
}

.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
}

.contact-desc {
    font-family: 'Gelasio', serif;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    margin-bottom: 50px;
}
.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    font-family: 'Gelasio', serif;
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    padding: 1px 0;
    font-family: 'Gelasio', serif;
    font-size: 20px;
    outline: none;
    background: transparent;
}

.contact-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-top: 100px; 
    gap: 60px;
}

.info-block h3 {
    font-family: 'Gelasio', serif;
    font-size: 20px;
    color: #000;
    margin-bottom: 15px;
    font-weight: 400;
}

.info-block p {
    font-family: 'Gelasio', serif;
    font-size: 20px;
    line-height: 1.5;
    color: #5C5454;
}

footer {
    background-color: #2E2A25; 
    color: #fff;
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 120px;
}

.footer-content {
    width: 100%;
    max-width: 1192px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px; 
    
}

.footer-logo-img {
    width: 77px;
    height: auto;
    filter: brightness(0) invert(1);
}

.footer-menu {
    display: flex;
    gap: 37px; 
    margin-bottom: 30px; 
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    transition: opacity 0.3s;
}

.footer-menu a:hover {
    opacity: 0.7;
}

.footer-line {
    width: 100%; 
    height: 1px;
    background-color: #5E5E5E; 
    margin-bottom: 15px;
}

.footer-copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px; 
    font-weight: 400; 
    color: #BFBFBF;
    margin: 0;
    text-align: center;
    line-height: 44px; 
}